@import "~bootstrap/scss/bootstrap";

//import app variables
@import "./app-vars";

// Components
@import './components/DataCard/data-card';
@import './components/NavBar/nav-bar';
@import './components/PhotoCapModal/photo-cap-modal';
@import './components/FileAttach/file-attach';

// Pages
@import "./pages/SearchPage/search-page";
@import "./pages/RegisterPage/register-page";
@import "./pages/LoginPage/login-page";
@import "./pages/AddUserPage/add-user-page";


.wrapper {
    margin: auto;
    max-width: $max-wrapper-width;
    padding: 1rem;
    padding-top: 0;
}

.nav-wrapper {
    max-width: $max-wrapper-width;
}

.margin-rigth-1 {
    margin-right: 1rem;
}