.immigrant-dc-wrapper {
    margin: 1rem;

    .immigrant-data-card {
        padding: 1.2rem;
        background-color: #fafafa;
        box-shadow:
            0.4px 2.8px 2.2px rgba(0, 0, 0, 0.02),
            1px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            1.9px 12.5px 10px rgba(0, 0, 0, 0.035),
            3.4px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            6.3px 41.8px 33.4px rgba(0, 0, 0, 0.05),
            15px 100px 80px rgba(0, 0, 0, 0.07);

        .data-img {
            margin-left: 1rem;
            max-width: 12rem;
        }

        .data-title-wrapper {
            margin-top: 0.2rem;
            margin-bottom: 0.6rem;
        }

        .data-title-wrapper~* {
            padding-left: 0.2rem;
        }

        .data-label {
            display: inline-block;
            margin-right: 0.5rem;
        }

        .data-row {
            max-width: 100%;
            padding-bottom: 0.3rem;
        }
    }
}