.full-button {
    width: 100%;
}

.search-page {
    position: relative;
}

.search-wrapper {
    position: sticky;
    top: 3.5rem;
    left: 0;
    padding: 2rem 0 1rem 0;
    z-index: 2;

    .search-bg {
        position: absolute;
        top: 0;
        left: 50%;
        background-color: #ffffff;
        height: 100%;
        width: 100vw;
        z-index: -1;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .search-input {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .search-button {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1.8rem;
    }

    .search-lpading {
        padding-left: 1rem;
    }

    .search-rpading {
        padding-right: 1rem;
    }

    .search-row {
        margin-bottom: 1rem;
    }

}

.loading-immigrants{
    width:206px !important;
    height:206px !important;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    &::after {
        border-width: 14px !important;
        width: 150px !important;
        height: 150px !important;
    }
}

// .search-page{
//     background-color: #fdfdfd;
//     min-height: 100vh;
// }