.search-input {
    padding-left: 1rem;
    padding-right: 1rem;
}
.search-button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.8rem;
}
.search-lpading{
    padding-left: 1rem;
}
.search-rpading{
    padding-right: 1rem;
}

.search-row {
    margin-bottom: 1rem;
}

.full-button {
    width: 100%;
}
